.App {
    width: 80%;
    margin: auto;
}

.btns {
    color: green;
    width: 120px;
    height: 120px;
    font-size: 50px;
}

.board {
    background-color: azure;
    display: flex;
    justify-content: center;
}

.board1 {
    margin: auto;
    text-align: center;
}

.restart {
    margin-top: 30px;
    margin-left: 60px;
    width: 130px;
    height: 40px;
    background-color: cornflowerblue;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    margin-left: 430px;
    margin-bottom: 40px;
}

.winner {
    color: blueviolet;
    font-style: italic;
    text-align: center;
}

.heading {
    text-align: center;
}

.current {
    text-align: center;
}